DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_BASE_URL=https://api.deepseek.com
AMAP_MAPS_API_KEY=13a1f1de1364eca300c5745f459542c1
VITE_TENCENT_MAP_MCP_KEY=WKHBZ-R7U64-66WUD-FREOO-7OEIS-XCBPW
